/*  Palette

CSS HEX

--eggplant dark: #190019 rgb(25, 0, 25)
--purple: #2B124C
--light purple: #522B58 rgb(82, 43, 88)
--ultra light purple: #854F6C
--dark white: #DFB6B2 rgb(223, 182, 178)
--white: #FBE4D8
 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.2;
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.2;
  margin: 0;
  padding: 0;
}

.toast-text {
  text-align: center;
}

/* BUTTON & POPUP STYLES */

.btn {
  background: linear-gradient(to bottom right, #2b124c, #854f6c);
  border: 0;
  border-radius: 12px;
  color: #fbe4d8;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.2;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.btn:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(25, 0, 25, 0.5), -0.125rem -0.125rem 1rem rgba(82, 43, 88, 0.5),
    0.125rem 0.125rem 1rem rgba(223, 182, 178, 0.5);
}
.btn:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(25, 0, 25, 0.5), -0.125rem -0.125rem 1rem rgba(82, 43, 88, 0.5),
    0.125rem 0.125rem 1rem rgba(223, 182, 178, 0.5);
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(25, 0, 25, 0.5);

  backdrop-filter: blur(4px);

  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-inner {
  background: #fbe4d8;
  border-radius: 12px;
  margin: 0;
  position: relative;
}
.btn-popup-close {
  position: absolute;
  top: 3%;
  right: 3%;
  height: 1.5em;
  width: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-popup-close::before,
.btn-popup-close::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 1em;
  background-color: #fbe4d8;
}

.btn-popup-close::before {
  transform: rotate(45deg);
}

.btn-popup-close::after {
  transform: rotate(-45deg);
}
.btn-clear-tasks {
  line-height: 3vh;
}
.btn-form {
  margin-top: 4vh;
}
.btn-login {
  margin: 2vh 0;
}

/* FORM STYLES */

.signin-wrapper {
  margin: 4vh 4vh;
}
.signup-text {
  margin: 2vh;
}
.signup-text-two {
  margin: 1vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 4vh;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border: 1px solid #190019;
  border-radius: 12px;
  box-shadow: 0 0 2rem rgba(25, 0, 25, 0.5), 0rem 0rem 2rem rgba(82, 43, 88, 0.5),
    0rem 0rem 2rem rgba(223, 182, 178, 0.5);

  padding: 32px;
}
.form-label {
  margin-top: 1vh;
}
.form-input {
  margin-top: 0vh;
  line-height: 1.5em;
  padding-left: 0.5em;
  resize: none;
}
.form-error {
  border: 2px solid red;
  border-radius: 4px;
}
.form-valid {
  border: 2px solid green;
  border-radius: 4px;
}

.main-wrapper-text {
  margin: 2vh 0;
  text-align: center;
}

.main-wrapper-title {
  text-align: center;
  line-height: 6vh;
  font-weight: bold;
}
.main-wrapper-text {
  text-align: center;
  line-height: 4vh;
}

.logout-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  padding: 1vh;
  margin: 0;
}
li {
  margin: 1vh 0;
}
.text-without-tasks {
  align-items: center;
  display: flex;
  margin: 4vh;
  justify-content: center;
  border: 6px solid #522b58;
  border-radius: 12px;
}

/* NAVBAR STYLES */

.wrapper-nav {
  height: 8vh;
  width: 100%;
  position: relative;
  background: linear-gradient(to left, #2b124c 0%, #854f6c 50%, #2b124c 100%);
  margin-bottom: 2vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 0;
}

.wrapper-nav:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('@/assets/logo.svg');
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.7;
  z-index: 1;
}

.navbar-title {
  color: #fbe4d8;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.subnavbar-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5vh;
}
.subnavbar-wrapper-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.subnavbar-wrapper-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* MEDIA QUERIES */

@media (min-width: 619px) {
  #wrapper-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  .task-card-wrapper:nth-child(even) {
    margin-left: auto;
  }
}

@media (min-width: 1025px) {
  #wrapper-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
  }
  .task-card-wrapper:nth-child(3n + 2) {
    margin-left: auto;
  }
}
